<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>Project Portfolio</title>
	</head>
	<body>
		{{> header}}
		<p><h2>This is my awesome portfolio</h2></p>
		{{> footer}}
	</body>	
</html>